body.only-gallery-view div[aria-label="view mode tabs"] {
  display: none;
}

body.only-gallery-view [id^="menu-list-icon-thumbnail"] {
  display: none;
}

body.only-gallery-view [title="Ribbon"] {
  display: none;
}
