@media (min-width: theme("screens.lg")) {
  body {
    @apply overflow-hidden;
  }
}

#zoom-app [id^="suspension-view-tabpanel"] {
  --width-screen: 100vw;

  height: calc(100vh - 34px - 42px);
  width: calc(var(--width-screen) - 4px);
}

#zoom-app [id^="suspension-view-tabpanel"] > div:nth-child(1) {
  @apply h-full;
}

#zoom-app .react-draggable > .zmwebsdk-MuiPaper-rounded > .zmwebsdk-MuiPaper-rounded {
  @apply w-screen;
}

body.meeting [role="dialog"] {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 #{!important};
}
